openevse-solarpv-divert.json
[
  {
    "id": "183b477c.1c6f49",
    "type": "tab",
    "label": "OpenEVSE Solar PV Divert"
  },
  {
    "id": "1a6b5e73.c829e2",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  4kw (16.7A)",
    "topic": "solar",
    "payload": "4000",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 221,
    "y": 278,
    "wires": [
      [
        "5c9c3727.2c7578"
      ]
    ]
  },
  {
    "id": "dbc5e458.393238",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  100W (0.42A)",
    "topic": "solar",
    "payload": "100",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 347,
    "wires": [
      [
        "5c9c3727.2c7578"
      ]
    ]
  },
  {
    "id": "ca7a2bed.e41b18",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  1: Normal (fast charge)",
    "topic": "mode",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 793,
    "y": 145,
    "wires": [
      [
        "75506195.83d33"
      ]
    ]
  },
  {
    "id": "5f962ced.5dc4b4",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  2: Eco",
    "topic": "mode",
    "payload": "2",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 741,
    "y": 178,
    "wires": [
      [
        "75506195.83d33"
      ]
    ]
  },
  {
    "id": "666bb2a2.7f51ac",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  4kw use",
    "topic": "use",
    "payload": "4000",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 200,
    "y": 547,
    "wires": [
      [
        "fe041018.18575"
      ]
    ]
  },
  {
    "id": "43fba5f1.264fbc",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  2Kw use",
    "topic": "use",
    "payload": "2000",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 198,
    "y": 582,
    "wires": [
      [
        "fe041018.18575"
      ]
    ]
  },
  {
    "id": "3f3105c3.6c35ea",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  100W use",
    "topic": "use",
    "payload": "100",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 208,
    "y": 617,
    "wires": [
      [
        "fe041018.18575"
      ]
    ]
  },
  {
    "id": "56840352.e3390c",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Calculate charge current",
    "func": "// Load defaults\nvar vrms = global.get(\"vrms\");\nvar solar = global.get(\"solar\");\nvar use = global.get(\"use\");\nvar excess = global.get(\"excess\");\nvar max_charge_current = global.get(\"max_charge_current\");\nvar min_charge_current = global.get(\"min_charge_current\");\nvar charge_current = max_charge_current;\nvar mode = global.get(\"mode\");\nvar state = global.get(\"state\");\n\n// Get VRMS voltage\nif (msg.topic === \"vrms\") {\n    vrms = msg.payload;\n    global.set(\"vrms\",vrms);\n}\n\n// Get Solar PV gen & Convert to current (A)\nif (msg.topic === \"solar\") {\n    solar = msg.payload / vrms;\n    global.set(\"solar\",solar)\n}\n\n// Get on-site consumption & Convert to current (A)\nif (msg.topic === \"use\") {\n    use = msg.payload / vrms;\n    global.set(\"use\",use)\n}\n\n\n// Normal Charge\nif (mode == 1){\n    charge_current = max_charge_current;\n}\n\n// Eco Mode\nif (mode == 2){\n    excess = solar - use;\n    if (excess >= min_charge_current){\n        charge_current = excess;\n    }\n    else {\n        // If no excess current charge current is 0 (EVSE will reduce charge to minimum charge rate (6A default)\n        charge_current = 0; \n    }\n}\n\n\n\ncharge_current=Math.round(charge_current);\n    \nreturn [{payload: charge_current}, {payload: mode}, {payload:state}];\n",
    "outputs": "3",
    "noerr": 0,
    "x": 890.1428833007812,
    "y": 644.8571586608887,
    "wires": [
      [
        "7eb4a5ce.d5044c",
        "9f694c75.9c924"
      ],
      [
        "aca2728f.831fc"
      ],
      [
        "c064cc0.bada138"
      ]
    ]
  },
  {
    "id": "aed3612.19864a",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  2kw (8.3A)",
    "topic": "solar",
    "payload": "2000",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 210,
    "y": 312,
    "wires": [
      [
        "5c9c3727.2c7578"
      ]
    ]
  },
  {
    "id": "e730a9e3.df5048",
    "type": "comment",
    "z": "183b477c.1c6f49",
    "name": "INPUT SOLAR PV (topic: solar)",
    "info": "Solar PV generation\n\n*Must always be positive*\n\n## Input Options \n\n*Configure as appropriate*\n\n### MQTT\n\n- emonPi MQTT server username: `emonpimqtt` password: `emonpimqtt2016`\n- emonPi default topic `emon/emonpi/power1`\n- emonTx (node 8) default topic `emon/emontx3/power1`\n\n### Emoncms\n\n- Configure node with Host, read API key and feed ID\n- https://emoncms.org",
    "x": 201,
    "y": 130,
    "wires": []
  },
  {
    "id": "1d5ce07d.4cd03",
    "type": "comment",
    "z": "183b477c.1c6f49",
    "name": "INPUT CONSUMPTION (topic: use)",
    "info": "Onsite consumption\n\n*Must always be positive*\n\n## Input Options \n\n*Configure as appropriate*\n\n### MQTT\n\n- emonPi MQTT server username: `emonpimqtt` password: `emonpimqtt2016`\n- emonPi default topic `emon/emonpi/power2`\n- emonTx (node 8) default topic `emon/emontx3/power2`\n\n### Emoncms\n\n- Configure node with Host, read API key and feed ID\n- https://emoncms.org",
    "x": 203,
    "y": 402,
    "wires": []
  },
  {
    "id": "c20510dc.44687",
    "type": "comment",
    "z": "183b477c.1c6f49",
    "name": "INPUT: CHARGING MODE (click for more info)",
    "info": "## 1: Normal Fast Charge (default)\n\n- Charging at maximum rate irrispectic of solar PV output\n\n\n## 2: Eco\n\n- Charging level is moderated to match solar PV production\n- If use (on-site consumption feed) is provided it will be subtracted (excess solar diversion)\n- Charging will not start until available power > min charge rate (default 6A)\n- Once charging has started charge rate will modulate down to min charge rate (default 6A)\n- Charging will not pause once started since it was decided stoping / starting charging causes excess wear on the EVSE and the car\n\n\n\n",
    "x": 787,
    "y": 51,
    "wires": []
  },
  {
    "id": "17709422.27699c",
    "type": "comment",
    "z": "183b477c.1c6f49",
    "name": "INPUT VRMS (topic: vrms)",
    "info": "VRMS voltage\n\nDefault 240V if no rms data is received\n\n## Input Options \n\n*Configure as appropriate*\n\n### MQTT\n\n- emonPi MQTT server username: `emonpimqtt` password: `emonpimqtt2016`\n- emonPi default topic `emon/emonpi/vmrs`\n- emonTx (node 8) default topic `emon/emontx3/vrms`\n\n### Emoncms\n\n- Configure node with Host, read API key and feed ID\n- https://emoncms.org",
    "x": 171,
    "y": 660,
    "wires": []
  },
  {
    "id": "7eb4a5ce.d5044c",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "Charging Current debug",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1241,
    "y": 677,
    "wires": []
  },
  {
    "id": "aca2728f.831fc",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "Mode debug",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1202,
    "y": 717,
    "wires": []
  },
  {
    "id": "b254b2ff.a580c",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Set charging mode",
    "func": "if (msg.topic === \"mode\"){\n    global.set(\"mode\",msg.payload);\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1116,
    "y": 196,
    "wires": [
      []
    ]
  },
  {
    "id": "2ceb94b.cb06a6c",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "Inject at startup",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 113,
    "y": 62,
    "wires": [
      [
        "203cd05a.46df4"
      ]
    ]
  },
  {
    "id": "203cd05a.46df4",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Set default values",
    "func": "// Default to normal charge mode\nglobal.set(\"mode\",1);\n\n// Set min & max charging current (A)\n// If max charge current is greater than the max  \n// allowed current set in OpenEVSE charge rate will be max allowed\nglobal.set(\"max_charge_current\",32);\n\n// 6A min is defined by SAE/IEC standard\nglobal.set(\"min_charge_current\",6);\n\n// Charge current can be varied in 1A increments as defined by SAE/IEC\n\n// Default VRMS voltage\nglobal.set(\"vrms\",240);\n\n\n// Default to 'charging' state unless overwritten\nglobal.set(\"state\",3);\n// 1: Not Connected\n// 2: Connected\n// 3: Charging \n// 4-10: Error \n// 254: Sleeping\n// 255: Disabled\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 325,
    "y": 65,
    "wires": [
      []
    ]
  },
  {
    "id": "5c69777e.0dc8b8",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Generate RAPI",
    "func": "var rapi_chargerate = \"$SC\";\nvar rapi_pause = \"$FS\";\nvar rapi_resume = \"$FE\";\nvar rapi =\"\";\nvar charge_rate = msg.payload;\nvar state = global.get(\"state\");\nvar min_charge_rate = global.get(\"min_charge_current\");\nvar mode = global.get(\"mode\");\n\n// STATE\n// 1: Not Connected\n// 2: Connected\n// 3: Charging \n// 4-10: Error \n// 254: Sleeping (or 596?)\n// 255: Disabled\n\n// Dont pause charging since this wears out the EVSE relays \n//if ((msg.payload === 0) && (state == 3)){\n    // pause charging if charging & charging rate = 0 \n    // Set sleeping state\n//    state = 254;\n//    global.set(\"state\",state)\n//    rapi = {payload: rapi_pause};\n//    return rapi;\n//}\n\n// Start charging if EVSE is sleeping and charging current > min charging current\nif ((state == 254) || (state == 596) && (charge_rate > min_charge_rate) && (mode < 1) ){\n    // Resume / start charging if charging is paused (EVSE sleeping)\n    rapi = {payload: rapi_resume};\n    // Set charging state\n    //state = 3; //comment out to use real-time state from EVSE (recomended)\n    //global.set(\"state\",state)\n}\nelse{\n   if (state ==3){ \n       // If state==charging (default) set charge rate\n       rapi = {payload: rapi_chargerate + \" \" + charge_rate};\n   }\n}\n\nreturn rapi;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 995.0000076293945,
    "y": 507.0000123977661,
    "wires": [
      [
        "eb12631b.67a2c",
        "13a13530.6cff0b"
      ]
    ]
  },
  {
    "id": "eb12631b.67a2c",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "RAPI Debug",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1220,
    "y": 629,
    "wires": []
  },
  {
    "id": "13a13530.6cff0b",
    "type": "delay",
    "z": "183b477c.1c6f49",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 970.2856903076172,
    "y": 425.1428623199463,
    "wires": [
      [
        "3a5d5b33.d0f0f4",
        "3b9c31dd.15b4de",
        "334c31e0.bb681e"
      ]
    ]
  },
  {
    "id": "209324b5.b67f5c",
    "type": "comment",
    "z": "183b477c.1c6f49",
    "name": "INPUT OPENEVSE STATE (topic: state)",
    "info": "## STATES\n\n- 1: Not Connected\n- 2: Connected\n- 3: Charging \n- 4-10: Error \n- 254: Sleeping (or 596?)\n- 255: Disabled\n\nState topic feedback is highly recomended to close the feedback loop",
    "x": 1408,
    "y": 45,
    "wires": []
  },
  {
    "id": "df51dacb.ae9d58",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate 3: Charging",
    "topic": "state",
    "payload": "3",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1392,
    "y": 165,
    "wires": [
      [
        "57cc6a6b.55aab4"
      ]
    ]
  },
  {
    "id": "aca22425.2e5898",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  2: Connected",
    "topic": "state",
    "payload": "2",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1403,
    "y": 129,
    "wires": [
      [
        "57cc6a6b.55aab4"
      ]
    ]
  },
  {
    "id": "c26f096c.7f3028",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Simulate  254: Sleeping",
    "topic": "state",
    "payload": "254",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1401,
    "y": 201,
    "wires": [
      [
        "57cc6a6b.55aab4"
      ]
    ]
  },
  {
    "id": "6c18a454.518a9c",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Set charging state",
    "func": "if (msg.topic === \"state\"){\n    global.set(\"state\",msg.payload);\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1753,
    "y": 201,
    "wires": [
      []
    ]
  },
  {
    "id": "c064cc0.bada138",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "State debug",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1203,
    "y": 759,
    "wires": []
  },
  {
    "id": "d3107bd9.c0bbc8",
    "type": "mqtt in",
    "z": "183b477c.1c6f49",
    "name": "",
    "topic": "emon/emonpi/vrms",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 247,
    "y": 755,
    "wires": [
      [
        "bf6ea20c.3fa45"
      ]
    ]
  },
  {
    "id": "bf6ea20c.3fa45",
    "type": "change",
    "z": "183b477c.1c6f49",
    "name": "VRMS Input",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "vrms",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 466,
    "y": 681,
    "wires": [
      [
        "56840352.e3390c",
        "59777a3a.3c7084"
      ]
    ]
  },
  {
    "id": "5c9c3727.2c7578",
    "type": "change",
    "z": "183b477c.1c6f49",
    "name": "Solar Input",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "solar",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 230,
    "wires": [
      [
        "56840352.e3390c",
        "11efd2c2.a8049d"
      ]
    ]
  },
  {
    "id": "ce619824.41b288",
    "type": "mqtt in",
    "z": "183b477c.1c6f49",
    "name": "",
    "topic": "emon/emonpi/power1",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 251,
    "y": 172,
    "wires": [
      [
        "5c9c3727.2c7578"
      ]
    ]
  },
  {
    "id": "c9996957.2bc498",
    "type": "mqtt in",
    "z": "183b477c.1c6f49",
    "name": "",
    "topic": "emon/emonpi/power1",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 228,
    "y": 444,
    "wires": [
      [
        "fe041018.18575"
      ]
    ]
  },
  {
    "id": "fe041018.18575",
    "type": "change",
    "z": "183b477c.1c6f49",
    "name": "Use Input",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "use",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 471,
    "y": 507,
    "wires": [
      [
        "56840352.e3390c",
        "c87f89b6.9702f8"
      ]
    ]
  },
  {
    "id": "c21930db.d1878",
    "type": "mqtt in",
    "z": "183b477c.1c6f49",
    "name": "",
    "topic": "openevse/mode",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 780,
    "y": 101,
    "wires": [
      [
        "75506195.83d33"
      ]
    ]
  },
  {
    "id": "75506195.83d33",
    "type": "change",
    "z": "183b477c.1c6f49",
    "name": "Mode Input",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "mode",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 973,
    "y": 105,
    "wires": [
      [
        "b254b2ff.a580c",
        "c2f7cdd1.bf709"
      ]
    ]
  },
  {
    "id": "ff95379f.3e4d78",
    "type": "mqtt in",
    "z": "183b477c.1c6f49",
    "name": "",
    "topic": "openevse/state",
    "qos": "2",
    "broker": "396670b0.0ef31",
    "x": 1447,
    "y": 82,
    "wires": [
      [
        "57cc6a6b.55aab4"
      ]
    ]
  },
  {
    "id": "57cc6a6b.55aab4",
    "type": "change",
    "z": "183b477c.1c6f49",
    "name": "State Input",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "state",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1659,
    "y": 72,
    "wires": [
      [
        "6c18a454.518a9c",
        "6b6189e.5870678"
      ]
    ]
  },
  {
    "id": "b95cdecb.03be5",
    "type": "comment",
    "z": "183b477c.1c6f49",
    "name": "RAPI OUTPUT",
    "info": "\n\n## Output Options \n\n*Configure as appropriate*\n\n**ONLY USE ONE**\n\n### MQTT\n\n- emonPi MQTT server: \n- Username: `emonpimqtt` \n- Password: `emonpimqtt2016`\n- OpenEVSE MQTT topic:\n`base-topic>/rapi/in`\n- Assuming base topic = openevse\n`openevse/rapi/in`\n\n### HTTP\n\n- Enter OpeneEVSE IP address in generate HTTP RAPI function\n- Default host name is http://openevse\n\n### Direct serial \n\n- Via direct serial connection to OpenEVSE using USB to UART cable \n- Default baud 115200\n\nhttp://openevse.dozuki.com/Guide/Serial+Communications+with+OpenEVSE/13\n",
    "x": 1559.4286346435547,
    "y": 373.14285469055176,
    "wires": []
  },
  {
    "id": "3a5d5b33.d0f0f4",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Generate RAPI MQTT",
    "func": "// OpenEVSE MQTT topic <base-topic>/rapi/in\n\nvar openevse_mqtt = \"openevse/rapi/in/\";\n\n// split on space\nvar output = msg.payload.split(\" \");\n \nvar rapi_message = output[0];\nvar rapi_payload = output[1];\n\n\nmsg.topic = openevse_mqtt + rapi_message;\nmsg.payload = rapi_payload;\n\nreturn [msg];\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1188,
    "y": 331,
    "wires": [
      [
        "73a08d7c.b585a4",
        "f16e2e86.2ce5e",
        "4d31e21c.2f957c"
      ]
    ]
  },
  {
    "id": "859ba3d3.a0da5",
    "type": "http request",
    "z": "183b477c.1c6f49",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "http://openevse/r?rapi=%24{{{payload}}}",
    "tls": "",
    "x": 1562.5,
    "y": 480,
    "wires": [
      [
        "9240fbd2.5fa1a8"
      ]
    ]
  },
  {
    "id": "3b9c31dd.15b4de",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Generate HTTP",
    "func": "// Example: http://openevse/r?rapi=%24SC+13\n// Hostname openevse should work on most networks if running latest 2.0 firmware\n// Change openevse to local IP address if needed\n\n//var openevse_http = \"http://openevse/r?rapi=%\";\n\n// split on space\nvar output = msg.payload.split(\" \");\n \nvar rapi_message = output[0];\nvar rapi_payload = output[1];\n// remove $ symbol\nrapi_message = rapi_message.slice( 1 );\n\nif (rapi_payload){\n    //msg.payload = openevse_http + rapi_message + \"+\" + rapi_payload;\n    msg.payload = rapi_message + \"+\" + rapi_payload;\n}\nelse{\n    // don't include value for RAPI commands with no value e.g FS\n    //msg.payload = openevse_http + rapi_message;\n    msg.payload = rapi_message;\n}\n\n\nreturn [msg];\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1202,
    "y": 462,
    "wires": [
      [
        "2786219d.bbd3ce"
      ]
    ]
  },
  {
    "id": "73a08d7c.b585a4",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: MQTT rapi/in topic",
    "active": true,
    "console": "false",
    "complete": "topic",
    "x": 1248,
    "y": 368,
    "wires": []
  },
  {
    "id": "f16e2e86.2ce5e",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: MQTT rapi/in message",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1250,
    "y": 403,
    "wires": []
  },
  {
    "id": "4d31e21c.2f957c",
    "type": "mqtt out",
    "z": "183b477c.1c6f49",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "396670b0.0ef31",
    "x": 1545.8571701049805,
    "y": 416.8571491241455,
    "wires": []
  },
  {
    "id": "2786219d.bbd3ce",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEUBG HTTP",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1213,
    "y": 498,
    "wires": []
  },
  {
    "id": "51298cf8.36cbd4",
    "type": "emoncms in",
    "z": "183b477c.1c6f49",
    "name": "Emoncms",
    "feedid": "",
    "x": 294,
    "y": 217,
    "wires": [
      []
    ]
  },
  {
    "id": "6c9bdf84.b424e",
    "type": "serial out",
    "z": "183b477c.1c6f49",
    "name": "",
    "serial": "25876359.564b1c",
    "x": 1559.5,
    "y": 528,
    "wires": []
  },
  {
    "id": "9240fbd2.5fa1a8",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "HTTP responce",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1777,
    "y": 451,
    "wires": []
  },
  {
    "id": "4558eb87.d5a494",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "Request update",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": true,
    "x": 125,
    "y": 217,
    "wires": [
      [
        "51298cf8.36cbd4"
      ]
    ]
  },
  {
    "id": "22e1491a.0d9dd6",
    "type": "emoncms in",
    "z": "183b477c.1c6f49",
    "name": "Emoncms",
    "feedid": "",
    "x": 281,
    "y": 493,
    "wires": [
      []
    ]
  },
  {
    "id": "69178911.729408",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "Request update",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": true,
    "x": 112,
    "y": 493,
    "wires": [
      [
        "22e1491a.0d9dd6"
      ]
    ]
  },
  {
    "id": "e60b5b3f.bd47e8",
    "type": "emoncms in",
    "z": "183b477c.1c6f49",
    "name": "Emoncms",
    "feedid": "",
    "x": 276,
    "y": 712,
    "wires": [
      []
    ]
  },
  {
    "id": "be8367e2.50e668",
    "type": "inject",
    "z": "183b477c.1c6f49",
    "name": "Request update",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": true,
    "x": 107,
    "y": 707,
    "wires": [
      [
        "e60b5b3f.bd47e8"
      ]
    ]
  },
  {
    "id": "334c31e0.bb681e",
    "type": "function",
    "z": "183b477c.1c6f49",
    "name": "Generate Serial",
    "func": "return msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1219,
    "y": 564,
    "wires": [
      []
    ]
  },
  {
    "id": "11efd2c2.a8049d",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Solar input",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 510.640625,
    "y": 284.9296875,
    "wires": []
  },
  {
    "id": "c87f89b6.9702f8",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: Use input",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 532.63671875,
    "y": 573.94140625,
    "wires": []
  },
  {
    "id": "c2f7cdd1.bf709",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "Debug: Mode input",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1100.640625,
    "y": 144.9296875,
    "wires": []
  },
  {
    "id": "59777a3a.3c7084",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: VRMS input",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 549.62890625,
    "y": 743.18359375,
    "wires": []
  },
  {
    "id": "6b6189e.5870678",
    "type": "debug",
    "z": "183b477c.1c6f49",
    "name": "DEBUG: State input",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1803.6328125,
    "y": 149.18359375,
    "wires": []
  },
  {
    "id": "9f694c75.9c924",
    "type": "delay",
    "z": "183b477c.1c6f49",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 908.5714285714284,
    "y": 570,
    "wires": [
      [
        "5c69777e.0dc8b8"
      ]
    ]
  },
  {
    "id": "396670b0.0ef31",
    "type": "mqtt-broker",
    "z": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "verifyservercert": true,
    "compatmode": true,
    "keepalive": "15",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": ""
  },
  {
    "id": "25876359.564b1c",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/ttyUSB0",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\n",
    "bin": "false",
    "out": "char",
    "addchar": true
  }
]
