solar-pv-simulation/csv_to_mqtt.json
[{"id":"1f3cb268.87071e","type":"file in","z":"5b5aaa3b.0da8d4","name":"","filename":"/home/fig/Downloads/dev/oem_node-red/openevse-solarpv-divert/solar-pv-simulation/smooth-summer-2500Wp.csv","format":"utf8","x":465,"y":86.5,"wires":[["a9244804.99a508"]]},{"id":"a9244804.99a508","type":"csv","z":"5b5aaa3b.0da8d4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":382,"y":287.5,"wires":[["6590b590.39d0ac"]]},{"id":"7f3270c7.6e7f5","type":"debug","z":"5b5aaa3b.0da8d4","name":"","active":false,"console":"false","complete":"false","x":749,"y":234.5,"wires":[]},{"id":"8c1579f.ec97988","type":"inject","z":"5b5aaa3b.0da8d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":292,"y":189.5,"wires":[["1f3cb268.87071e"]]},{"id":"c05a9b02.4e4a48","type":"function","z":"5b5aaa3b.0da8d4","name":"","func":"\n\nvar output = {payload: msg.payload.solar};\n\n\nreturn [[output]];","outputs":1,"noerr":0,"x":697,"y":307.5,"wires":[["da829112.94d41","8626bc5c.cbdbf","72ffecf9.233d94"]]},{"id":"6590b590.39d0ac","type":"delay","z":"5b5aaa3b.0da8d4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":544.5,"y":260.5,"wires":[["7f3270c7.6e7f5","c05a9b02.4e4a48"]]},{"id":"da829112.94d41","type":"debug","z":"5b5aaa3b.0da8d4","name":"","active":true,"console":"false","complete":"false","x":765,"y":372,"wires":[]},{"id":"8626bc5c.cbdbf","type":"mqtt out","z":"5b5aaa3b.0da8d4","name":"","topic":"test/solar","qos":"","retain":"","broker":"7df3be30.4c19d","x":676,"y":439,"wires":[]},{"id":"72ffecf9.233d94","type":"emoncms","z":"5b5aaa3b.0da8d4","name":"Emoncms","emonServer":"5efe7ca9.2f2434","nodegroup":"12","x":707,"y":521,"wires":[]},{"id":"7df3be30.4c19d","type":"mqtt-broker","z":"","broker":"emonpi","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5efe7ca9.2f2434","type":"emoncms-server","z":"","server":"http://emonpi/emoncms","name":""}]
